<h1>Player Info</h1>

<% @players.each do |player| %>
  <p><b> Name: </b> <%= player.name %></p>
  <p><b> Age: </b> <%= player.age %></p>
  <p><i> Age eligible for World Cup?</i> <%= player.old_enough %></p>
<% end %>