<header>

    <div class ='container'>

      <nav>
          <%= link_to 'Player Index', '/players'%> 
          <br> 
          <%= link_to 'Teams Index', '/teams'%>
      </nav>
    </div>
</header>  

