<header>

    <div class ='container'>

      <nav>
        <ul>
          <li><%= link_to 'Player Index', '/player_table_name'%></li>
          <li><%= link_to 'Teams Index', '/teams'%></li>
        </ul>
      </nav>
    </div>
</header>  

